/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* 
============================
	BUSINESSWEEK STUFF 
============================
*/

/* HTML STUFF */

body {
	margin:0px;
	width: 970px;
	position: relative;
}

h1 {
	text-align: center;
}

a {
	text-decoration:none;
	color:#007cd5;
}

a:hover {
	text-decoration: underline;
}

/* http://stackoverflow.com/a/18746688/120290 */        
.highlight {
	background: #0f0;
	padding: 3px 3px;
	margin: -3px -3px;
	line-height: 1.7;
	border-radius: 3px;
	display:inline-block;
	/* cursor:pointer; */ /* people try to click them... */
}

.hidden {
	display:none;
}

#sidebar {
	display:block;
	position:absolute;
	right:0;
	width:300px;
	font-size:10pt;
	line-spacing:1.5;
	font-family:courier;
}

#sidebar li {
	margin-bottom: 1.5em;
}

#footer ul {
	padding-left: 0;
	margin-left: -10px;
	margin-top: -50px;
}

#footer ul li {
	display:block;
	list-style: none;
	float:left;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid lightgray;
	color: black;
	font-size: 8pt;
	font-family: courier;
}

#data-line {
    margin-left: 250px;
    float: left;
	margin-top: 60px;
	text-align: center;
	font-size: 10px;
	font-family: Helvetica;
	text-transform: uppercase;
}

/* SVG STUFF */

/* users can't select/point to text or hash lines, which would get in the way */
text, .hashmap, #asic {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

/* TEXT */

text {
	fill: white;
	font-size: 10pt;
	font-family:courier;
}

text.h1 {
	font-weight: bold;
	font-size: 12pt;
	fill: black;
}

text.h2 {
	font-weight: bold;
	font-size: 12pt;
	fill: white;
}

text.h3 {
	font-size: 9.5pt;
	text-transform: uppercase;
	fill: #ccc;
}

text.h4 {
	font-size: 8pt;
	font-style: italic;
	fill: #ccc;
}

text.success {
	fill: #0f0;
}

text.rejected {
	fill: #e6e6e6;
	text-decoration: line-through;
	position: relative;
}

#hashLabel {
	text-shadow: 1px 1px 1px black;
}

/* LINES */

line {
	stroke:#fff;
	stroke-width:1;
}

line.axis {
	stroke-width:2;
	stroke:#fff;
}

line.target {
	stroke:#0f0 !important;
}

line.executed {
	stroke-width:2;
}

/* BLOCKS */

.block text {
	text-anchor: middle;
}

.block polygon {
	fill: #000;
	stroke: #0f0;
}

polygon.success {
	stroke: #0f0;
}

.block-frame {
	stroke: #000;
	stroke-width: 0.7;
	fill: black;
}

/* WALLET */

#wallet text {
	fill: #000;
	text-anchor: middle;
}

#bitcoins-earned {
	font-size: 20pt;
}

#wallet circle {
	fill: gold;
	stroke: goldenrod;
	stroke-width: 2;
}

/* BUY */

#buy text {
	text-anchor: middle;
	fill:#000;
}

#buy rect {
	stroke: green;
	fill: #0f0;
	cursor: pointer;
}

#buy rect:hover {
	fill: #0c0;
}

#buy rect:active {
	fill: green;
	stroke: #0f0;
}

#asic {
	fill: green;
}

/* ARROWS */

#bizweekarrows path {
	stroke: #0f0;
	fill: none;
	stroke-width: 2;
}

#arrowhead {
	stroke: #0f0;
	fill: none;
}

/* CHEVRON */
.chevron path {
	fill: #0f0;
	stroke:green;
}

.chevron.vertical text {
	fill: #000;
	text-anchor:middle;
}

.chevron.horizontal text {
	fill: #000;
	text-anchor: beginning;
}